{% extends "base.html" %}
{% block content %}
  <h1 class="mb-4">Hello, {{ current_user.username }}</h1>
  {% if form %}
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      <label for="post" class="form-label">{{ form.post.label }}</label>
      {{ form.post(class="form-control", id="post", rows=4, cols=32) }}
      {% for error in form.post.errors %}
      <div class="form-text text-danger">[{{ error }}]</div>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
  {% endif %}

  {% for post in posts %}
  <div class="mb-4">
    {% include "_post.html" %}
  </div>
  {% endfor %}

  <div class="d-flex justify-content-between">
    {% if prev_url %}
    <a href="{{ prev_url }}" class="btn btn-outline-secondary">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}" class="btn btn-outline-secondary ms-auto">Older posts</a>
    {% endif %}
  </div>
{% endblock %}
